{{#if sideNav}}<h2>Query</h2>{{/if}}
{{input value=query placeholder=placeholder insert-newline="querySubmitted"}}
{{#unless sideNav}}<button {{action 'querySubmitted'}} class='search'>Search it</button>{{/unless}}
{{yield}}
