<h3>New Provider</h3>

{{input
      type="text"
      placeholder="First Name"
      value=firstName}}
{{input
      type="text"
      placeholder="Last Name"
      value=lastName}}

<button type="submit" {{action 'addProvider'}}>Add provider</button>
