.banner {
  @include background-image($gradient);
  height: 1em;
}

body > .ember-view {
  height: 100%;
}

.landing {
  min-height: 100%;

  header {
    @include background-image($gradient);
    @include row(table);
    @include reset-display;
    @include pad(1em 0 2em 0);
    text-align: center;
    font-size: 1.2em;

    h1 {
      margin-bottom: 0;
    }
    h2 {
      margin-top: 0;
      margin-bottom: $small-spacing;
      font-weight: normal;
    }
    p {
      padding-top: $small-spacing;
      line-height: 1;
    }
  }

  footer {
    height: 16em;
    width: 100%;
    padding: 3em;
    text-align: center;
    background: $base-background-color;
    div {
      @include span-columns(8);
      @include shift(2);
    }
  }

}

.search-bar {
  @include span-columns(7);
  @include shift(2.5);
  @include padding($small-spacing);

  label {
    @include clearfix;
    line-height: 2.25em;
    text-align: left;
    float: left;
    width: 50%;
    padding: 0 .85em;
    font-size: 0.75em;
  }

  .search-buttons {
    @include padding($small-spacing*2);
    @include span-columns(12);
    @include omega;
  }
}

section {
  @include outer-container;
  height: 100%;
}

.context {
  @include span-columns(3);
  .result-count {
    display: block;
    background-color: $bluegreen;
    color: $white;
    padding: $small-spacing;
    font-weight: bold;
  }
  .tools {
    box-shadow: inset 0px 0px 10px lighten($bluegreen, 30%);
    @include padding($small-spacing $small-spacing*2 $small-spacing*2 $small-spacing*2);
    font-size: 0.9em;
    label {
      @include margin($small-spacing 0);
    }
    input {
      box-shadow: none;
    }
    button {
      width: 100%;
      font-size: 1em;
      margin-top: 1em;
    }
  }
}

.main {
  @include span-columns(9);
  height: 100%;
  overflow-y: scroll;
  padding: 1em 2em;
  background-color: $white;
  box-shadow: 0px 0px 26px -6px rgb(74, 100, 116);
  .no-results {
    margin: -1em -2em;
    padding: 3em;
    height: 100%;
    background-color: lighten($bluegreen,45%);
    color: $black;
    h1, h2 {
      font-family: $base-font-family;
      color: darken($bluegreen,10%);
    }
  }
  .name {
    h1, h2 {
      font-family: $base-font-family;
    }
    h2 {
      margin-top: 0;
      font-weight: normal;
      font-style: italic;
      margin-bottom: 1em;
    }
  }

  .npi {
    float: right;
    font-weight: normal;
    color: $action-color;
  }

  .label {
    @include padding(0.5em 1em);
    font-weight: bold;
    background-color: lighten($blue, 65%);
    color: $blue;
    margin-top: $small-spacing*4;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  .practice {
    @include span-columns(4.5 of 9);
  }

  .mailing {
    @include span-columns(4.5 of 9);
    @include omega;
  }

  .practice, .mailing {
    ul {
      @include padding(0 1em);
    }
  }

  .otherinformation {
    @include span-columns(9 of 9);
    @include clearfix;
  }

  .affiliated {
    @include span-columns(9 of 9);
    @include clearfix;
  }
}
