.banner {
  @include background-image($gradient);
  height: 1em;
}

.ember-view {
  height: 100%;
}

.landing {
  min-height: 100%;

  header {
    @include background-image($gradient);
    @include row(table);
    @include reset-display;
    @include pad(1em 0 2em 0);
    text-align: center;
    font-size: 1.5em;

    h1 {
      margin-bottom: 0;
    }
    h2 {
      margin-top: 0;
      margin-bottom: $small-spacing;
      font-weight: normal;
    }
    p {
      padding-top: $small-spacing;
      line-height: 1;
    }
  }

  footer {
    height: 16em;
    width: 100%;
    padding: 3em;
    text-align: center;
    background: $base-background-color;
    div {
      @include span-columns(8);
      @include shift(2);
    }
  }

}

.search-bar {
  @include outer-container;
  @include span-columns(8);
  @include shift(2);

  .search-bar {
    margin: 0;
    width: 100%;
    text-align: center;
    &:focus {
      border: 1px solid $action-color;
    }
  }

  label {
    width: 100%;
    input {
      float: right;
    }
  }

  .search {
    margin: $small-spacing auto;
  }
}

section {
  @include outer-container;
}

.context {
  @include span-columns(3);
}

.main {
  @include span-columns(9);
  background-color: lighten($brown, 60%);
  padding: 0 2em;

  .name {
    background-color: lighten($blue, 60%);
    color: $blue;
    padding: $small-spacing/2 1em;
    border-bottom: 1px solid lighten($blue, 50%);
    line-height: 1;
    h2 {
      margin-top: 0;
      font-weight: normal;
      margin-bottom: 1em;
    }
  }

  .npi {
    float: right;
    font-weight: normal;
    color: $action-color;
  }

  .label {
    font-weight: bold;
    background-color: lighten($blue, 60%);
    color: $blue;
    padding: $small-spacing/2;
    margin-top: $small-spacing*4;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: 1px solid lighten($blue, 50%);
    line-height: 1;
  }

  .practice {
    @include span-columns(4.5 of 9);
  }

  .mailing {
    @include span-columns(4.5 of 9);
    @include omega;
  }

  .otherinformation {
    @include span-columns(9 of 9);
    @include clearfix;
  }
}
