.search-bar {
  position: relative;

  input {
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    border-radius: $base-border-radius;
    box-shadow: 0 3px darken($action-color, 15%);
    border: 1px solid $action-color;
    display: block;
    // font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  button {
    @include button(flat, $action-color);
    font-size: 1.5em;

    img {
      height: 1em;
    }
  }
}
