


.searched-terms {
  padding: $small-spacing 0;

  .searched {
    padding: $small-spacing/2 $small-spacing;
    background-color: $brown;
    color: $white;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 3px;
    margin: $small-spacing 0;
  }
}
