#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  box-shadow: 0 $base-font-size/4 darken($action-color, 15%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size*0.75;
  font-weight: 600;
  line-height: 1;
  padding: 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px darken($action-color, 15%);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 10%);
    box-shadow: 0 ($base-font-size/4)+em(2) darken($action-color, 20%);
    top: -2px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
