table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;
}

td {
  border-bottom: $base-border;
  font-size: 0.85em;
  line-height: 1.2;
}

tr,
td,
th {
  padding: $small-spacing;
  vertical-align: middle;
}

tr:hover {
  background-color: lighten($base-border-color, 6%);
}

.taxonomy {
  display: inline-block;
  background-color: $base-border-color;
  padding: $small-spacing/2;
  margin: $small-spacing/4 auto;
  border-radius: 6px;
}
