table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  font-size: 0.85em;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

tr,
td,
th {
  padding: $small-spacing;
  vertical-align: middle;
}

th {
  border-bottom: 1px solid darken($base-border-color, 25%);
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

td {
  border-bottom: $base-border;
  line-height: 1.2;
}

tr:hover {
  background-color: lighten($base-border-color, 17%);
}
