// Typography
$base-font-family: "News Gothic MT", "Helvetica", "Roboto", "Arial", sans-serif;
$heading-font-family: $helvetica;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #666;
$white: #fff;
$black: #000;

$brown: #AA6B29;
$purple: #5E03A6;
$green: #30B973;
$blue: #064B99;
$red: #800029;
$yellow: #807800;
$bluegreen: #52C08E;

// Font Colors
$base-background-color: lighten($bluegreen, 42%);
$base-font-color: $dark-gray;
$base-header-color: $black;
$action-color: $blue;
$link-color: $green;

// Border
$base-border-color: lighten($bluegreen, 40%);
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
