.search-type {

  button {
    @include margin(1em 0);
    @include size(200px 100px);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .provider {
    @include background-image($transparent-gradient, url("/assets/images/doctor.jpg"));
    &:hover, &.active {
      @include background-image(url("/assets/images/doctor.jpg"));
    }
  }
  .organization {
    @include background-image($transparent-gradient, url("/assets/images/hospital.jpg"));
    &:hover, &.active {
      @include background-image(url("/assets/images/hospital.jpg"));
    }
  }

  &.active {
    border: 3px solid $action-color;
  }

  span {
    @include pad($small-spacing/2);
    @include position(absolute, 10px null null 10px);
    display: inline-block;
    vertical-align: bottom;
    background: lighten($bluegreen, 30%);
    color: $black;
  }
}
.twitter-typeahead{
  width:100%;
}
.tt-menu {
  background-color: white;
  border-radius: $base-border-radius;
  font-family: $base-font-family;
  font-weight: normal;
  width:100%;
  text-align: left;
  border: 2px solid $action-color;
}
.tt-cursor {
  background-color: #5D01A3;
  color: #FFFFFF;
}
.tt-suggestion{
  padding: .5em;
  border-bottom: 1px solid $action-color;
  line-height: 1.3;
  &:hover {
    background-color: #5D01A3;
    color: #FFFFFF;
  }
}
