<header>
  <h1>Medirectory</h1>
  <p>Find a healthcare provider.</p>
  <div class="search-bar">
    {{#advanced-search submit="submit" name=name location=location taxonomy=taxonomy npi=npi}}
      {{#link-to 'advanced-search/index' (query-params name=name location=location taxonomy=taxonomy npi=npi) tagName='button' class='search'}}Search it{{/link-to}}
      <br/>
      {{#link-to 'index' tagName='button' }}Basic Search{{/link-to}}
    {{/advanced-search}}
  </div>
</header>

<div class="about">
  <h2>What is Medirectory?</h2>
  <p>Medirectory is a pilot project by The MITRE Corporation. The project is open source and its code can be accessed at <a href="https://github.com/Medirectory" alt="Source code for Medirectory">https://github.com/Medirectory</a>.</p>
</div>

{{outlet}}