<header>
  <h1>Medirectory</h1>
  <p>Find a healthcare provider.</p>
  <div class="search-bar">
    {{input value=query placeholder='Try "camille houston" or "williams portland"' class='search-bar'}}

    {{#link-to 'providers/index' (query-params q=query) tagName='button' class='search'}}Search it{{/link-to}}
  </div>
</header>

<div class="about">
  <h2>What is Medirectory?</h2>
  <p>Medirectory is a pilot project by The MITRE Corporation. The project is open source and its code can be accessed at <a href="https://github.com/Medirectory" alt="Source code for Medirectory">https://github.com/Medirectory</a>.</p>
</div>

{{outlet}}

{{!-- <div class="factoids">
  {{#each fact in model}}
  <aside><h1>{{fact.header}}</h1><p>{{fact.text}}</p></aside>
  {{/each}}
</div> --}}
